data/bdd100k/annotations/instances_train.json filter=lfs diff=lfs merge=lfs -text
data/coco/annotations/instances_train2017.zip filter=lfs diff=lfs merge=lfs -text
data/coco_40/annotations/instances_train2017.zip filter=lfs diff=lfs merge=lfs -text
